In [ ]:
a=10
b=20
print(a+b)
print(a-b)
print(a*b)
print(a/b)#floating
print(a//b)#integer
print(a%b)
print(a**b)
print(pow(2,4))

In [ ]:
#Relational and comparision Operator
print(50>100)
print(100<40)
print(30>=29)
print(40<=50)
print(2==2)
print(2==1)
print(10!=5)
print(15!=15)

In [ ]:
#logical Operators AND
print(False and False)
print(False and True)
print(True and False)
print(True and True)

In [ ]:
#Logical Operators OR
print(False or False)
print(False or True)
print(True or False)
print(True or True)

In [ ]:
#Logical Operators NOT
print(True)
print(False)

In [ ]:
#not with and
print(not(False and False))
print(not(False and True))
print(not(True and False))
print(not(True and True))

In [ ]:
#not with or
print(not(False or False))
print(not(False or True))
print(not(True or False))
print(not(True or True))

In [ ]:
print(10>9 and 5<4)
print(10==10 and 9!=9)
print(9!=5 or 5==5)
print(not(100>99 and 50<20))

In [ ]:
#assignment Operators
a=5
a*=2
a-=6
a*4
a/=2
a

In [ ]:
#bitwise operators &, /, ^
2&2
10&5
11 | 6
20^10
ord('A')
ord('a')
chr(97)

In [ ]:
#membership Operators in,not in
s="Welcome to Python Workshop"
'to' in s
'too' in s
'Welcome' in s
'Work' not in s
'workz' not in s

In [ ]:
#Identity Operator is, is not, ==, !=
n='hello'
m='world'
n == m

In [ ]:
#Conditional Statements in Python or Control flow statements
#if elif else

#syntax
if (condition): 
    statements
elif (condition):
    statements
else:
    statements

In [ ]:
n=int(input('enter the number:- '))
if n%2==0:
    print(n, 'Even Number')
else:
    print(n, 'Odd Number')

In [ ]:
n=int(input('enter the number:- '))
if n%2!=0:
    print(n, 'odd Number')
else:
    print(n, 'even Number')

In [ ]:
n=int(input('Enter the day:- '))
if n==0:
    print('Sunday')
elif n==1:
    print('Monday')
elif n==2:
    print('Tuesday')
elif n==3:
    print('Wednesday')
elif n==4:
    print('Thursday')
elif n==5:
    print('Friday')
elif n==6:
    print('Saturday')
else:
    print('Invalid day')

In [ ]:
#Iterations
#For,While
#Syntax

#for variable in range (inclusive, exclusiv, step):
    print(variablename)

In [ ]:
#for temp in range(10+1):  #10+1 or 11
#   print(temp)
for i in range (1,100+1):
    print(i,end="--<")

In [ ]:
for rev in range (100,1,-1):
    print(rev,end="uma")

In [ ]:
for even in range(0,50+1,2):
    print(even,end=' ')

In [ ]:
for odd in range(1,50+1,2):
    print(odd,end=' ')

In [ ]:
for dif in range(1,100,3):
    print(dif,end=" ")

In [ ]:
for dif in range(1,100,10):
    print(dif,end=" ")

In [ ]:
for dif in range(0,100,10):
    print(dif,end=" ")

In [ ]:
for mul in range(2,100,2):
    print(mul,end=" ")

In [ ]:
for mul in range(7,100,7):
    print(mul,end=" ")

In [ ]:
num = int(input('Enter table:- '))
for i in range(1,10+1):
    print(num,'*',i,'=',num*i)

In [ ]:
num = int(input('Enter table:- '))
for i in range(1,10+1):
    print(num,'*',i,'=',num*i)

In [ ]:
num=int(input('Enter how many tables:- '))
for num in range(1,5+1):
     for i in range(1,10+1):
        print(num,'*',i,'=',num*i)

In [10]:
#Find Factorial number using for loop and whileloop
num=int(input('Enter value'))
i=1
for fact in range(1,num+1):
    i=i*fact
    print(fact)
    print(i)

Enter value2
1
1
2
2

In [14]:
#Find Factorial using forloop and whileloop
n=int(input('enter value'))
for f in range(1,n+1):
    if n%f==0:
        print(f)

enter value8
1
2
4
8

In [ ]:
#While loop we can execute a set of statements condition is true
#while condition:
    #statements

In [ ]:
i=1
while i<=19+1:
    print(i)
    i+=1

In [ ]:
i=20
while i>=1:
    print(i)
    i-=1

In [ ]:
i=10
while i>=2:
    print(i)
    i+=2

In [ ]:
#while loop using even numbers
n=1
while(n<=10):
    if n%2==0:
        print(n, "is even")
        #print(n, "is odd")
    n+=1

In [ ]:
n1=int(input('Enter the value'))
i=1
while i<=n1:
    if i%2==0:
        print(i,"even")
    i+=1

In [ ]:
#Jumping statements
#break, continue pass
s='hello'
for i in s:
    if i=="l":
        continue
    print(i)

In [ ]:
def name:
    pass

In [2]:
t=int(input('enter no of tables'))
m=int(input('enter table multiples'))
for j in range(1,m+1):
    for i in range(1,t+1):
        print(i,'*',j,'=',i*j,end='\t')
    print('\n')

enter no of tables5
enter table multiples10
1 * 1 = 1	2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5

1 * 2 = 2	2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10

1 * 3 = 3	2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15

1 * 4 = 4	2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20

1 * 5 = 5	2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25

1 * 6 = 6	2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30

1 * 7 = 7	2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35

1 * 8 = 8	2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40

1 * 9 = 9	2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45

1 * 10 = 10	2 * 10 = 20	3 * 10 = 30	4 * 10 = 40	5 * 10 = 50